[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=2.0.8"
"psycopg2-binary" = "*"
django-extensions = "*"
pyserial = "*"
django-webpack-loader = "*"

[dev-packages]

[requires]
python_version = "3.5"
